<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #1C1C1C;
         }
    h3 {
        padding-left: 380px;
        border-width: 2px 5px 3px 6px;
        border: 1px solid #FFFF00;
        width: 500px;
        text-align :center;
        }
    h1 {
        padding-left: 600px;
        border-width: 2px 5px 3px 6px;
        border: 1px solid #FFFF00;
        width: 1349px;
        }
    #imgpos2 {
        position: absolute;
        left: 0px;
    }
    th{
        text-align :center
    }






</style>
<body>


<section>
    <h1>
        <img src="{% static 'core/assets/img/navbar-logo123.png' %}" alt="image" height="50" width="" id="imgpos2"/>

        <font color="#FFFF00" face="times"> Minha Agenda</font>
    </h1>
    <h3><font color="#FFFF00" face="times"> Filmes</font></h3>
    <div class="containe">
        <div class="row row-cols-2">
            <div class="col-5 mt-3  d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="4"> Assistindo</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                        <th>Acesse aqui</th>

                    </tr>
                    {%for filme in filmes%}
                    {%if filme.status == "Assistindo"%}
                    <tr>
                        <td>{{filme.filme.titulo}}</td>
                        {%for button in filme.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' filme.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                        <td>
                            <a href="{{filme.filme.link}}" target="_blank">Assistir </a>
                        </td>

                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-3  d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Planejamento</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for filme in filmes%}
                    {%if filme.status == "Planejamento"%}
                    <tr>
                        <td>{{filme.filme.titulo}}</td>
                        {%for button in filme.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' filme.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-4  d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Concluído</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for filme in filmes%}
                    {%if filme.status == "Concluído"%}
                    <tr>
                        <td>{{filme.filme.titulo}}</td>
                        {%for button in filme.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' filme.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-4  d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Desistiu</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for filme in filmes%}
                    {%if filme.status == "Desistiu"%}
                    <tr>
                        <td>{{filme.filme.titulo}}</td>
                        {%for button in filme.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' filme.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
    <br>

    <h3><font color="#FFFF00" face="times"> Séries</font></h3>
    <div class="containe ">
        <div class="row row-cols-2">
            <div class="col-5 mt-3 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="4"> Assistindo</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                        <th colspan="2">Episodio</th>
                        <th colspan="2">Temporada</th>
                        <th>Acesse aqui</th>
                    </tr>
                    {%for serie in series%}
                    {%if serie.status == "Assistindo"%}
                    <tr>
                        <td>{{serie.serie.titulo}}</td>
                        {%for button in serie.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' serie.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                        <td>
                            <p id="ep_serie">0</p>

                        </td>
                        <td>
                            <a class="tamanho" id="btn_ep_serie" type="button">>></a>
                        </td>
                        <td>
                            <p1 id="temp_serie">0</p1>

                        </td>
                        <td>
                            <a class="tamanho" id="btn_temp_serie" type="button">>></a>

                        </td>
                        <td>
                            <a href="{{serie.serie.link}}" target="_blank">Assistir </a>
                        </td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-3 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Planejamento</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">opções</th>
                    </tr>
                    {%for serie in series%}
                    {%if serie.status == "Planejamento"%}
                    <tr>
                        <td>{{serie.serie.titulo}}</td>
                        {%for button in serie.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' serie.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-2 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Concluído</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for serie in series%}
                    {%if serie.status == "Concluído"%}
                    <tr>
                        <td>{{serie.serie.titulo}}</td>
                        {%for button in serie.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' serie.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-2 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Desistiu</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for serie in series%}
                    {%if serie.status == "Desistiu"%}
                    <tr>
                        <td>{{serie.serie.titulo}}</td>
                        {%for button in serie.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' serie.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
    <br>

    <h3><font color="#FFFF00" face="times"> Animes</font></h3>
    <div class="containe">
        <div class="row row-cols-2">
            <div class="col-5 mt-3 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="4"> Assistindo</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                        <th colspan="2">Episodio</th>
                        <th colspan="2">Temporada</th>
                        <th>Acesse aqui</th>
                    </tr>
                    {%for anime in animes%}
                    {%if anime.status == "Assistindo"%}
                    <tr>
                        <td>{{anime.anime.titulo}}</td>
                        {%for button in anime.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' anime.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                        <td>
                            <p id="ep_anime">0</p>

                        </td>
                        <td>
                            <a class="tamanho" id="btn_ep_anime" type="button">>></a>
                        </td>
                        <td>
                            <p1 id="temp_anime">0</p1>

                        </td>
                        <td>
                            <a class="tamanho" id="btn_temp_anime" name="anime_ep_{{anime.anime.pk}}" type="button">>></a>

                        </td>
                        <td>
                            <a href="{{anime.anime.link}}" target="_blank">Assistir </a>
                        </td>
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-3 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Planejamento</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for anime in animes%}
                    {%if anime.status == "Planejamento"%}
                    <tr>
                        <td>{{anime.anime.titulo}}</td>
                        {%for button in anime.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' anime.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-2 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Concluído</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                    {%for anime in animes%}
                    {%if anime.status == "Concluído"%}
                    <tr>
                        <td>{{anime.anime.titulo}}</td>
                        {%for button in anime.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' anime.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
            <div class="col-5 mt-2 d-flex justify-content-center">
                <table bgcolor="#F0F8FF" border="3">
                    <tr>
                        <th colspan="3"> Desistiu</th>
                    </tr>
                    <tr>
                        <th>Titulo</th>
                        <th colspan="2">opções</th>
                    </tr>
                    {%for anime in animes%}
                    {%if anime.status == "Desistiu"%}
                    <tr>
                        <td>{{anime.anime.titulo}}</td>
                        {%for button in anime.get_botoes%}
                        <td><a href="{% url 'core:mudar_status_agenda' anime.pk %}{{button.url}}">{{button.label}}</a>
                        </td>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
    <br>
</section>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<!--Axios - Requisições Assincronas-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<script>

    function openNewTab(url){
        window.open(url, '_blank').focus(); //Abrir um nova janela com o link do filme/serie/anime
    }



</script>

<script>
    const btnEp$ = document.getElementById('btn_ep_serie');
    const p$ = document.getElementById('ep_serie');

    let ep_serie = 0;
    p$.innerHTML = ep_serie;

    btnEp$.addEventListener('click' , function() {
        ep_serie ++;
        p$.innerHTML = ep_serie;
    });



</script>

<script>
    const btnTemp$ = document.getElementById('btn_temp_serie');
    const p1$ = document.getElementById('temp_serie');

    let temp_serie = 0;
    p1$.innerHTML = temp_serie;

    btnTemp$.addEventListener('click' , function() {
        temp_serie ++;
        p1$.innerHTML = temp_serie;
    });


</script>


<script>
    const btnEpAnime$ = document.getElementById('btn_ep_anime');
    const pAnime$ = document.getElementById('ep_anime');

    let ep_anime = 0;
    pAnime$.innerHTML = ep_anime;

    btnEpAnime$.addEventListener('click' , function() {
        console.log(ep_anime)
        ep_anime ++;
        pAnime$.innerHTML = ep_anime;

        axios.post('altera-ep-temporada/', {
            tipo: 'anime',
            id: '',
            numeroEpOuTemporada: ep_anime,
            tipoEpOuTemporada: 'ep',
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
    });



</script>

<script>
    const btnTempAnime$ = document.getElementById('btn_temp_anime');
    const idAnime = btnTempAnime$.name.split("_")[2];

    console.log(idAnime);

    const pAnime1$ = document.getElementById('temp_anime');

    let temp_anime = 0;
    pAnime1$.innerHTML = temp_anime;

    btnTempAnime$.addEventListener('click' , function() {
        temp_anime ++;
        pAnime1$.innerHTML = temp_anime;

        axios.post('altera-ep-temporada/', {
            tipo: 'anime',
            id: idAnime,
            numeroEpOuTemporada: temp_anime,
            tipoEpOuTemporada: 'temp',
          })
          .then(function (response) {
            console.log(response);
          })
          .catch(function (error) {
            console.log(error);
          });
    });


</script>
</body>
</html>