<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/index_estilo.css' %}">
    <title>BEM VINDO</title>
</head>
<body>
    <div class="AbaDeLogout">
        <div class="logout">
            <a href="{% url 'account_logout' %}"><button>Logout</button></a>
        </div>

    </div>

    <div class="conteudo">
        <div class="botoes">
            <a href="http://127.0.0.1:8000/materias/"><button>Materias</button></a>
        <a href="{% url 'agenda2' %}"><button>Lembretes</button></a>
        <a href="metas.html"><button>Metas</button></a>
        </div>

    </div>
</body>
</html>