<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyPlan</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'core/css/metas_estilo.css' %}">

</head>
<body>
    <div class="AbaDeLogout">
        <div class="logout">
          <a href="{% url 'teste' %}"><button>Voltar</button></a>
          <a href="   "><button>Logout</button></a>
        </div>
    </div>

  <div class="conteudo">
    <div class="topo">
      <input type="text" id="inputAdicionarMeta" placeholder="Adicione uma nova Meta "> 
      <button id="buttonAddMeta">
        <i class="fa fa-plus"></i>
      </button>
    </div>
      
    <ul id="lista">
      <!--    <li>
        <span class="texto">Matemática - 25/05/2015 </span>
        <div>
          <button class="buttonAcao">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="buttonAcao">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </li>
    </ul> -->
   </div>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="{% static 'core/js/MetasScript.jss' %}"></script>
</body>
</html>